@keyframes expandDesktop {
  from {
    height: 0px;
  }
  to {
    height: 65px;
  }
}

@keyframes expandMobile {
  from {
    height: 0px;
  }
  to {
    height: 90px;
  }
}

.banner {
  display: block;
  overflow: hidden !important;
  height: 0px;
  animation: expandDesktop 1s ease-in-out forwards;
}

@media (max-width: 1025px) {
  .banner {
      animation: expandMobile 1s ease-in-out forwards;
  }
}