@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
.slideContainer {
    animation: slide 3s linear infinite;
}
.no-scrollbar::-webkit-scrollbar {
      display: none;
    }

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
